{%extends "gallery/base.html"%}

{%block content%}

<header class="masthead" style="background-image: url('https://wallpaperstream.com/wallpapers/full/minimal-hd/Camera-and-Tripod-Minimal-HD-Background.jpg'); background-position: center;
background-size: cover;position:relative;padding-bottom:15%;padding-top:15%">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class="subheading" style="font-size:20px;"><span style="font-family: 'Langar', cursive;"> Welcome To </span><span style="font-family: 'Megrim', cursive;font-weight:bold">GALERIE</span></h3>
          <a href="#pts" style="margin-left:10%;color:black;margin-top:20%;"><i class="fas fa-angle-double-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="gallery-block compact-gallery" id="pts">
    <div class="container">
        <div class="row no-gutters">
            {%for photo in photos%}
            <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="{{photo.image.url}}" data-toggle="modal" data-target="#{{photo.id}}" data-caption="{{photo.name}}: {{photo.description}}">
                    <img  class="img-fluid image" src="{{photo.image.url}}">
<!-- {{photo.image.cdn_url}} -->
                

            </div>
            {%endfor%}
        </div>
    </div>
</section>
{%endblock%}
